* {
 margin: 0px;
 padding: 0px;
}

#top {
    width: 100%;
    height: 10vh;
    background-color: darkcyan;
}

#left {
    float: left;
    width: 50%;
    height: 80vh;
    background-color: firebrick;
}

#right{
    float: right;
    width: 50%;
    height: 80vh;
    background-color: rgb(218, 184, 35);
}

#bottom{
    margin-top: 80vh;
    height: 10vh;
    width: 100%;
    background-color: black;
}

#h1 {
    text-align: center;
    text-decoration: wavy;
    font-weight: bolder;
    color: azure;
}