table{
border: 2px;
border-collapse: collapse;
border-color: rgb(0, 0, 0);
text-align: center;
text-decoration-color: crimson;
width: 100%;
}
th{
    background-color: lightgray;
}
td{
    color: crimson;
}
#gaf ul,
#gaf li {
    list-style: none;
   float: inline-start;
    display: flex;
    margin: 10px;
color: azure;
}

#gaf {
    background-color: darkcyan;
    width: 100%;
    height: 10vh;
    padding: 25px 30px;
}
a {
    color: whitesmoke;
}
 * {
margin: 0px 0px 0px 0px;
 }
