table{
border: 2px;
border-collapse: collapse;
border-color: rgb(0, 0, 0);
text-align: center;
text-decoration-color: crimson;
width: 100%; height: fit-content;
}
th{
    background-color: lightgray;
}
td{
    color: crimson;
}
